alert("begin");
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
alert("2");
$('#comments').prepend(new_comment);
alert("3");
$('#comment_<%= @comment.id %>').fadeIn('slow');
alert("4");
$('#new_comment')[0].reset();
alert("end");
